/* UNIVERSAL STYLING */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BODY STYLING */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: #f0f4f8;
  width: 100%;
}

/* HEADER STYLING */

#title {
  padding: 30px;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
}

#title h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

/* WEATHER CONTAINER STYLING */

#weather-container {
  display: flex;
  /* flex-wrap: wrap; */
}


/* SEARCH FOR A CITY SECTION STYLING*/
#search-city {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
}

#search-city h2 {
  font-weight: 600;
  font-size: 2.2rem;
}

#search-city form input {
  padding: 0 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
}

#search-btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #4801ff;
  color: white;
}

#search-btn:hover {
  background-color: #3000a8;
}

#clear-btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
  background-color: #4801ff;
  color: white;
}

#clear-btn:hover {
  background-color: #3000a8;
}

/* CURRENT LOCATION WEATHER CONTAINER STYLING */
#current-location-weather {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* SEARCHED CITIES BUTTONS STYLING */

.searched-city-button:hover {
  background-color: #4f3397;
}

/* CURRENT WEATHER CONTAINER STYLING */
#current-weather-data {
  display: flex;
  flex-direction: column;
}