/* UNIVERSAL STYLING */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BODY STYLING */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: #f0f4f8;
  width: 100%;
}

/* HEADER STYLING */

#title {
  padding: 30px;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
}

#title h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

/* WEATHER CONTAINER STYLING */

#weather-container {
  display: flex;
}

/* SEARCH FOR A CITY SECTION STYLING*/
#search-city {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
}

#search-city h2 {
  font-weight: 600;
  font-size: 2.2rem;
}

#search-city form input {
  padding: 7px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
}

#search-btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #4801ff;
  color: white;
}

#search-btn:hover {
  background-color: #3000a8;
}

#clear-btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  background-color: #4801ff;
  color: white;
}

#clear-btn:hover {
  background-color: #3000a8;
}

/* SEARCHED CITIES BUTTONS STYLING */
.searched-city-button:hover {
  background-color: #4f3397;
}

/* CURRENT LOCATION WEATHER CONTAINER STYLING */
#current-location-weather {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* CURRENT WEATHER CONTAINER STYLING */
#current-weather-data {
  display: flex;
  flex-direction: column;
}

/* DAILY WEATHER CONTAINER STYLING */
#daily-weather-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* MEDIA QUERY TO CREATE A RESPONSIVE WEB PAGE */

@media (max-width: 750px) {
  #weather-container {
    display: flex;
    flex-direction: column;
  }

  #search-city {
    width: auto;
    align-self: center;
  }

  #current-location-weather {
    align-self: center;
    margin-top: 10px;
  }
}
